.banner {
  height: inherit;
  width: auto;
  background-color: orange;
}

.banner-bottom {
  position: absolute;
  right: 0;
  display: block;
  background-color: black;
  width: 668px;
  height: 100px;
}
