.banner-container {
  position: fixed;
  top: 60px;
  right: 0;
  width: 480px;
}

.banner {
  width: auto;
  background-image:  url("commander.png");
  background-repeat: no-repeat;
  height: 800px;
}
