$rusty-red: #984B43;

.page-header {
  text-align: center;
  color: $rusty-red;
  font: {
    family: 'Share Tech', sans-serif;
    size: 50px;
  }
}

.status {
  color: $rusty-red;
  font-family: 'Allerta Stencil', sans-serif;
}

.register {
  color: rgb(86, 105, 110);
  font: {
    family: 'Share Tech', sans-serif;
    size: 18pt;
  }
}
.register:hover {
  color: white;
}
