<nav class="navbar">
  <ul class="nav">
    <li class="nav-item">
      <a class="app-name" href="#">APi-BattleShip</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <%= link_to image_tag("ship.png", alt: "ship", :id => 'nav-image'), '/' %>
    </li>
  </ul>
  <ul class="nav">
    <li><%= render partial: 'sessions/new' %></li>
  </ul>
</nav>
